@*@using DemoMVC.Models.Html;
@model List<Menu>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DemoMVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                @foreach (var menu in @ViewBag.Menu as List<Menu>)
                {
                    <partial name="_List" for="@menu" />
                }
            </ul>
        </div>
    </div>
</nav>
*@