html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color:#fff !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
}

.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}


.rememberForgetDiv {
    display: flex;
    justify-content:space-between;
}

.inputWhitIcon{
    position:relative;
}

.inputWhitIcon > ion-icon {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:1%;
}